

    <div class="sidebar-wrapper" style="border: black dashed 2px; ">
        <div class="logo">
            <a class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/angular2-logo.png" alt="">
                </div>
                Flight42
            </a>
        </div>
        <ul class="nav" >
            <li>
                <a href="#">
                    <i class="ti-home"></i>
                    <p>Home</p>
                </a>
            </li>

            <li>
                <a href="http://localhost:8081">
                    <i class="ti-arrow-top-right"></i>
                    <p>Flights</p>
                </a>
            </li>

            <li>
                <a href="http://localhost:8082">
                    <i class="ti-user"></i>
                    <p>Passengers</p>
                </a>
            </li>

            <li>
                <a href="http://localhost:8083">
                    <i class="ti-user"></i>
                    <p>Your Bookings</p>
                </a>
            </li>


        </ul>
    </div>
